page-add-post {
  .shareImage{
    text-align: right;
    padding: 10px 15px;
    .close-icon{
      height:30px;
      width: 30px;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      right: 15px;
      padding: 0px 5px 0px 5px;
      font-size: 25px;
    }
  }
}
